body,html {
    background-color: lightblue;
    margin: 10px;
    font-family: "Comfortaa";
    font-size: 15px;
    height: 1500px;
}
.hide {
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightblue;
    z-index: 5;
    text-align: center;
}
.hide p {
    font-size: 30px;
    margin: 10px auto 0 auto;
}
.para-nav, .fish-nav {
    margin: 0 1% 0 1%;
    display: block;
    height: 50px;
    z-index: 6;
}
.para-nav {
    background-color: black;
}
.fish-nav {
    position: sticky;
    top: 50px;
    left: 10px;
    right: 10px;
}
.para-nav {
    position: sticky;
    top: 100px;
    left: 10px;
    right: 10px;
}
.fishlink {
    background-color: rgb(80,80,80);
    color: white;
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    padding: 15px 15px;
    float: left;
    font-size: 20px;
    width: 16.6666%;
    height: 100%;
    border-bottom-width: 2px;
    font-family: "Comfortaa";
    font-weight: bold;
    transition: background-color 0.1s, color 0.1s;

}
.fishlink:hover {
    background-color: rgb(120, 120, 120);
}
.fishlink:active {
    background-color: rgb(180, 180, 180);
}
.paralink {
    color: white;
    background-color: rgb(80,80,80);
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    padding: 15px 15px;
    float: left;
    width: 20%;
    height: 100%;
    border-bottom-width: 2px;
    font-family: "Comfortaa";
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.1s;
}

#Temperature:hover {background-color: rgb(128, 0, 0);}
#pH:hover {background-color: rgb(128, 83, 0);}
#Nitrate:hover {background-color: rgb(128, 128, 0);}
#Nitrite:hover {background-color: rgb(0, 128, 0);}
#Ammonia:hover {background-color: rgb(0, 101, 135);}

.desc-tab {
    margin: 0 1%;
    display: block;
    color: white;
    padding: 25px 20px 50px 20px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.1s;
}
.content {
    margin: 0 1%;
    display: block;
    color: white;
    padding: 10px 20px 50px 20px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.1s;
}

.info {
    display: block;
}
#valueInput {
    display: none;
}
#valueEnter {
    display: none;
}
#valueOutput {
    background-color: rgb(255,255,255,0.5);
    color: black;
    display: none;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 40px;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: max-content;
}

