body,html {
    background-color: lightblue;
    margin: 10px;
    font-family: "Comfortaa";
    font-size: 20px;
    height: 1500px;
}
.hide {
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightblue;
    z-index: 5;
    text-align: center;
}
.hide p {
    font-size: 30px;
    margin: 10px auto 0 auto;
}
.para-nav, .fish-nav {
    margin: 0 1% 0 1%;
    display: block;
    height: 50px;
    z-index: 6;
}
.para-nav {
    background-color: black;
}
.fish-nav {
    position: sticky;
    top: 50px;
    left: 10px;
    right: 10px;
}
.para-nav {
    position: sticky;
    top: 100px;
    left: 10px;
    right: 10px;
}
.fishlink {
    background-color: rgb(80,80,80);
    color: white;
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    padding: 15px 15px;
    float: left;
    font-size: 20px;
    width: 16.66666%;
    height: auto;
    border-bottom-width: 2px;
    font-family: "Comfortaa";
    font-weight: bold;
    transition: background-color 0.3s, color 0.1s;
}
.fishlink:hover {
    background-color: rgb(120, 120, 120);
}
.fishlink:active {
    background-color: rgb(180, 180, 180);
}
.paralink {
    color: white;
    background-color: rgb(80,80,80);
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    padding: 15px 15px;
    float: left;
    width: 16.66666%;
    height: 100%;
    border-bottom-width: 2px;
    font-family: "Comfortaa";
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s;
}

#Temperature:hover {background-color: rgb(128, 0, 0);}
#pH:hover {background-color: rgb(128, 83, 0);}
#Nitrate:hover {background-color: rgb(128, 128, 0);}
#Nitrite:hover {background-color: rgb(0, 128, 0);}
#Ammonia:hover {background-color: rgb(0, 101, 135);}

.desc-tab {
    margin: 0 1%;
    display: block;
    color: white;
    padding: 25px 20px 25px 20px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s;
}
#fishImg {
    float: right;
    border-radius: 30px;
    height: 100px;
    position: fixed;
    right: 50px;
}
.content {
    margin: 0 1%;
    display: block;
    color: white;
    padding: 10px 20px 50px 20px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s;
}
#fishCustom {
    display: none;
    margin-top: 1em;
}
#fishSelect {
    text-align: center;
    font-size: 20px;
    font-family: Comfortaa;
    width: auto;
    padding: 5px;
    border-radius: 10px;
    border: 0;
}
#fishName {
    display: block;
    margin: 10px auto 30px auto;
    text-align: center;
    font-size: 25px;
    font-family: Comfortaa;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}
#customParaTable {
    width: 100%;
    table-layout: fixed;
    font-size: 20px;
    border-collapse: collapse;
    text-align: center;
    border: none;
    margin: 0;
}
#customParaTable input {
    height: 60px;
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-family: Comfortaa;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}
#customParaTable td {
    padding: 20px;
    border: none;
}
#customParaTable tr:nth-child(n+2) td:nth-child(n+2){
    border: 2px solid rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}
#fishCustom button {
    display: block;
    font-size: 25px;
    margin: 1em auto 0 auto;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(26, 161, 112);
    border-radius: 15px;
    padding: 0.5em;
    font-family: "Comfortaa";
    transition-duration: 0.2s;
}
#fishCustom button:hover {
    background-color: rgb(26, 161, 112);
    color: white;
    cursor: pointer;
}
.add-info {
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 10px;
    border: black solid 2px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#valueInput {
    display: none;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-family: Comfortaa;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}
#valueEnter {
    display: none;

}
#valueOutput {
    background-color: rgb(255,255,255,0.5);
    color: black;
    display: none;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 40px;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 90%;
}
#multiPara {
    display: none;
}

.inputGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    column-gap: 20px;
    row-gap: 0px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
}
.gridTitle {
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}
.valueInputMulti {
    box-sizing: border-box;
    margin: 0;
    height: 100px;
    text-align: center;
    font-size: 25px;
    font-family: Comfortaa;
    border-radius: 0px 0px 20px 20px;
    border: 2px solid black;
    width: 100%;
}

